:root {
  --white: #fff;
  --black: #111;
  --accent-color: #8257e5;
}

body {
  margin: 0;
  color: var(--white);
  background-color: #18181b;
  font-family: "Jura", sans-serif;
  font-weight: 100;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 1150px;
  padding: 1rem 30px 20px;
}

h1.title {
  font-size: 32px;
  font-weight: 300;
}

h2.description {
  font-size: 18px;
  font-weight: 200;
}

section {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.icon {
  color: var(--white);
  opacity: 0.75;
  margin-left: 1em;
  scale: 80%;
}

.short {
  height: auto;
  width: 560px;
  box-shadow: rgb(0 0 0 / 60%) 0px 10px 20px -4px;
}

.long {
  height: auto;
  width: 1150px;
  box-shadow: rgb(0 0 0 / 60%) 0px 10px 20px -4px;
}

.row-one-half {
  padding: 15px;
}

.row-full-width {
  padding: 15px;
}

.gallery {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.row {
  display: flex;
  flex-direction: row;
  margin-bottom: 2em;
}

.nav {
  display: flex;
  width: 1150px;
  margin-top: 1.25rem;
  align-items: center;
  flex-direction: row;
}

.nav-gap {
  flex-grow: 1;
}

.desc {
  display: flex;
  width: 1150px;
  margin-bottom: 1.25rem;
  margin-left: 1.25em;
  align-items: center;
  flex-direction: row;
}


/* ANIMATIONS */
section.nav {
  animation: rise 300ms backwards ease-out;
}

section.desc {
  animation: rise 300ms backwards ease-out;
}

section.gallery {
  animation: rise 900ms backwards ease-out;
}

@keyframes rise {
  from {
    opacity: 0;
    transform: translateY(10%);
  }
}

@keyframes slide-left {
  from {
    opacity: 0;
    transform: translateX(-8%)
    }
}

@media (max-width: 1250px) {

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }

  .nav {
    display: flex;
    margin-top: 1.25rem;
    align-items: center;
    flex-direction: row;
    width: 100%;
    padding: 15px;
  }

  .nav-row {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
    width: 100%;
  }

  .nav-gap {
    flex-grow: 1
  }

  .row {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
    width: 100%;
  }

  .short {
    height: auto;
    width: 100%;
    box-shadow: rgb(0 0 0 / 60%) 0px 10px 20px -4px;
  }
  
  .long {
    height: auto;
    width: 100%;
    box-shadow: rgb(0 0 0 / 60%) 0px 10px 20px -4px;
  }
  
}